<template>
  <div
    :class="type"
    :style="{
      width: boxWidth + 'px',
      height: boxWidth + 'px',
      top: shapeTopPosition + 'px',
      left: side === 'left' ? positionX + 'px' : 'initial',
      right: side === 'right' ? positionX + 'px' : 'initial',
    }"
    class="shape"
  >
    <span class="shape__weight">{{ weight }}</span>
    <img
      v-if="type === 'triangle'"
      class="shape__image"
      :src="triangleImage"
      alt="trinagle"
    />
  </div>
</template>

<script>
import { computed, ref, watch } from "vue";
import { useStore } from "vuex";
import { detectCollisionPoint } from "@/common/helpers/detectCollisionPoint";
import { scaleShape } from "@/common/helpers/scaleShapes";

export default {
  name: "TheWeight",
  props: {
    index: {
      type: Number,
      default: 0,
    },
    type: {
      type: String,
      default: "t",
    },
    weight: {
      type: Number,
      default: 1,
    },
    positionY: {
      type: Number,
      default: 1,
    },
    isFalling: Boolean,
    positionProbability: {
      type: Number,
      default: 1,
    },
    side: {
      type: String,
      default: "left",
    },
  },

  setup(props) {
    const store = useStore();
    const boxWidth = ref(scaleShape(props.weight));
    const balanceSideLimits = computed(
      (_) => store.getters["main/getBalanceLimits"]
    );
    const positionX = computed(
      (_) => balanceSideLimits.value + 500 * props.positionProbability
    );
    const shapeTopPosition = computed((_) => props.positionY);
    const rotationDegreeOfBalance = computed(
      (_) => store.getters["balance/getRotationAngle"]
    );
    const balanceLineTopPosition = computed(
      (_) => store.getters["balance/getBalanceTopPosition"]
    );

    watch(
      () => ref(props.positionY),
      () => {
        const collisionPint = detectCollisionPoint(
          balanceLineTopPosition.value,
          rotationDegreeOfBalance.value,
          props.positionProbability,
          props.side
        );
        if (collisionPint < props.positionY + boxWidth.value && props.isFalling)
          store.dispatch(
            props.side === "left"
              ? "main/updateWeightFalling"
              : "main/updateRightWeightFalling",
            { index: props.index, isFalling: false }
          );
      }
    );

    const triangleImage = "triangle.png";
    return {
      boxWidth,
      balanceSideLimits,
      positionX,
      shapeTopPosition,
      triangleImage,
    };
  },
};
</script>

<style scoped lang="scss">
@import "./weights.scss";
</style>
