@mixin control-button {
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  &:hover {
    filter: brightness(1.2);
  }
}
.info-container {
  position: absolute;
  top: 35px;
  justify-content: flex-end;
  right: 10px;
}

.pause {
  @include control-button;
  background: brown;
}

.play {
  @include control-button;
  background: rgb(51, 133, 19);
  margin-left: 10px;
}