<template>
  <div class="info-container">
    <button
      :class="{ pause: !gameState, play: gameState }"
      @click="setGameState(true)"
    >
      {{ gameState ? "Continue" : "Pause" }}
    </button>
  </div>
</template>

<script>
import { computed } from "vue";
import { useStore } from "vuex";

export default {
  name: "TheControls",
  setup() {
    const store = useStore();
    const gameState = computed((_) => store.getters["main/getGameState"]);
    const weight = computed((_) => store.getters["main/getTotalWeight"]);
    const force = computed((_) => store.getters["main/getMomentum"]);

    const setGameState = () => {
      store.dispatch("main/setGameState", !gameState.value);
    };

    return { weight, force, setGameState, gameState };
  },
};
</script>

<style scoped lang="scss">
@import "./controls.scss";
</style>
