.balance {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  &__space {
    height: 500px;
  }
  &__balance-bottom {
    width: 1px;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;// actions
    border-bottom: 75px solid black;
  }

  &__line {
    width: 1000px;
    border-bottom: 4px solid red;
  }
}
